# Игнорировать все .exe файлы
*.exe

# Игнорировать другие бинарные и объектные файлы
*.obj
*.o
*.dll
*.so
*.dylib
*.lib

# Игнорировать папки с результатами компиляции
/bin/
/obj/
/build/
/dist/

# Игнорировать файлы, создаваемые средой разработки
.vscode/
.idea/
*.suo
*.user
*.sln.docstates

# Игнорировать временные файлы
*.tmp
*.log
*.swp
